@font-face{
  font-family: 'ocr';
  src: url('font/Ocr-Pbi-pen_x1_y1.ttf');
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'hack-reg';
  background: black;
  color: white;
  padding: 0;
  margin: 0;
}

#poem, #titre{
  margin: 20px;
  font-size: 18px;
  display: none;
}

#poem span:nth-of-type(1){
  text-transform: capitalize; /* à changer pour seulement la première lettre */
}

.newCol,
.newRow{
  z-index: 100;
}
