/*!
 *  Hack v2.020 - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Hack Open Font License + Bitstream Vera license, CSS: MIT License
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
  font-family: 'Hack-reg';
  src: url('../fonts/eot/latin/hack-regular-latin-webfont.eot?v=2.020');
  src: url('../fonts/eot/latin/hack-regular-latin-webfont.eot?#iefix&v=2.020') format('embedded-opentype'), url('../fonts/woff2/latin/hack-regular-latin-webfont.woff2?v=2.020') format('woff2'), url('../fonts/woff/latin/hack-regular-latin-webfont.woff?v=2.020') format('woff'), url('../fonts/web-ttf/latin/hack-regular-latin-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/eot/latin/hack-bold-latin-webfont.eot?v=2.020');
  src: url('../fonts/eot/latin/hack-bold-latin-webfont.eot?#iefix&v=2.020') format('embedded-opentype'), url('../fonts/woff2/latin/hack-bold-latin-webfont.woff2?v=2.020') format('woff2'), url('../fonts/woff/latin/hack-bold-latin-webfont.woff?v=2.020') format('woff'), url('../fonts/web-ttf/latin/hack-bold-latin-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/eot/latin/hack-italic-latin-webfont.eot?v=2.020');
  src: url('../fonts/eot/latin/hack-italic-latin-webfont.eot?#iefix&v=2.020') format('embedded-opentype'), url('../fonts/woff2/latin/hack-italic-latin-webfont.woff2?v=2.020') format('woff2'), url('../fonts/woff/latin/hack-italic-latin-webfont.woff?v=2.020') format('woff'), url('../fonts/web-ttf/latin/hack-italic-latin-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/eot/latin/hack-bolditalic-latin-webfont.eot?v=2.020');
  src: url('../fonts/eot/latin/hack-bolditalic-latin-webfont.eot?#iefix&v=2.020') format('embedded-opentype'), url('../fonts/woff2/latin/hack-bolditalic-latin-webfont.woff2?v=2.020') format('woff2'), url('../fonts/woff/latin/hack-bolditalic-latin-webfont.woff?v=2.020') format('woff'), url('../fonts/web-ttf/latin/hack-bolditalic-latin-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: italic;
}
